.pages {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-bottom: 20px;
}

form input {
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px;
  background-color: #457b9d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #25ce2a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 8px 0;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li button.delete {
  background-color: #ce1827;
  color: rgb(169, 166, 166);
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

li button.delete:hover {
  background-color: #a4161a;
}
